body{
    height:100%;
}
html{
    height:100%;
}
ul{
    list-style-type: none;
}
.card {
    display: inline-block;
    float: left;  
    margin: 10px;
    max-width: 400px;
}
.card-body {
    height: 160px;
    overflow-y:auto;
}
.card-header {
    height: 90px;
}
.modal-backdrop {
    opacity: 0.4 !important;
}
#note-container{
    max-height: 150px;
    overflow-y: auto;
}