body{
    background-color: #dbdbdb;
    background-image: url("../images/textured_paper.png");
    height:100%;     
}
html{    
    padding-bottom: 50px;
}
ul{
    list-style-type: none;
}
.card {
    display: inline-block;
    float: left;  
    margin: 10px;
    margin-bottom: 45px;
    max-width: 400px;
    min-width: 300px;
}
.card-body {
    height: 160px;
    overflow-y:auto;
}
.card-header {
    height: 90px;
}
.modal-backdrop {
    opacity: 0.4 !important;
}
#note-container{
    max-height: 150px;
    overflow-y: auto;
}
#wrapper {
    display: block; 
    margin: 0 auto ;
    min-height: 100%;       
}

