body{
    height:100%;
}
html{
    height:100%;
}
.card {
    display: inline-block;
    float: left;  
    margin: 10px;
    max-width: 400px;
}
.card-body {
    height: 160px;
}
.card-header {
    height: 85px;
}
.modal-backdrop {
    opacity: 0.4 !important;
}